<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
    
<div class="container">
    <img src="//support.vandanasenthil.com/images/djangoprojectimage.jpg" style="width:1110px;height:400px;">
    <div class="jumbotron" style="height:100px;text-align:center; background:#f3f7f0;">

<!--<div class="mx-auto" style="width: 200px;">
  <div class="p-6 mb-2  text-black font-family='Great Vibes',cursive" >JOHN DOE'S PORTFOLIO</div>
-->
  <h1>John Doe</h1>
</div>
</div>
<!--</div> -->

<nav class="navbar navbar-expand-lg navbar-light bg-light text-center ">
    <!--<a class="navbar-brand " href="{%url 'index' %}">Logo</a> -->
    <img src="//support.vandanasenthil.com/images/djangoprojectimage.jpg" style="width:40px;">
    <!--<img src="/home/vandanse/myapp/templates/static/img/resume (5).svg" style="width:40px;">-->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto mx-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{%url 'index' %}">HOME</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{%url 'basicapp2:about' %}">ABOUT</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{%url 'basicapp2:project' %}">PROJECTS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{%url 'basicapp2:contacts' %}">CONTACTS</a>
      </li>
    </ul>
  </div>
</nav>

   
    <div class="container">
        {%block body_block%}
        <!--anything outside of this will be inherited-->
        {% endblock %}
    </div>
</body>
</html>
